footer {
    background-color: #313461;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;

    .links {
        display: flex;
        justify-content: space-evenly;
        height: 35vh;

        .box-1 {
            img{
                height: 5vh;
            }

            p {
                width: 20vw;
            }

            @media (max-width: 320px) {
                height: 30vh;

                p {
                    width: 100%;
                }
            }

            @media (min-width: 321px) and (max-width: 440px) {
                height: 30vh;

                p {
                    width: 100%;
                }
            }
        }

        .box-2 {
            a {
                text-decoration: none;
                color: #fff;
                font-size: .9rem;
                transition: .3s ease-in-out;
            }

            a:hover {
                color: #179146;
                transition: .3s ease-in-out;
            }

            @media (max-width: 320px) {
                height: 25vh;
            }

            @media (min-width: 321px) and (max-width: 440px) {
                height: 25vh;
            }
        } 
        

        .box-3 {
            .info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 8.5vh;

                @media (max-width: 320px) {
                    width: 100%;
                }

                @media (min-width: 321px) and (max-width: 440px) {
                    width: 100%;
                }
            }

            .text-contact {
                width: 22vw;

                @media (max-width: 320px) {
                    width: 100%;
                }

                @media (min-width: 321px) and (max-width: 440px) {
                    width: 100%;
                }
            }

            @media (max-width: 320px) {
                height: 33vh;
            }

            @media (min-width: 321px) and (max-width: 440px) {
                height: 33vh;
            }
        }

        @media (max-width: 320px) {
            flex-direction: column;
            align-items: center;
            height: 120vh;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            flex-direction: column;
            align-items: center;
            height: 120vh;
        }
    }

    .box-1,
    .box-2,
    .box-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        width: 30vw;
        color: #fff;

        p {
            font-size: .9rem;
        }

        @media (max-width: 320px) {
            width: 80vw;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 80vw;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: solid #fff 1px;
        height: 18vh;
        color: #fff;

        @media (max-width: 320px) {
            width: 100%;
            text-align: center;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 100%;
            text-align: center;
            padding: .6rem;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            text-align: center;
            padding: .6rem;
        }
    }

    @media (max-width: 320px) {
        height: 120vh;
    }
    
    @media (min-width: 321px) and (max-width: 440px) {
        height: 120vh;
    }
}