* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    .container-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25vh;
    }
    
    .box-header {
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: 9vh;
        border-radius: 38px;
        box-shadow: 6px 6px 10px 1px #00000040;
        background: #4247A2;
        background: linear-gradient(90deg,rgba(66, 71, 162, 1) 0%, rgba(82, 176, 149, 1) 72%);

        @media (max-width: 320px) {
            width: 96%;
            font-size: .9rem;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 90%;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            width: 90%;
        }
    }

    .box-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;

        @media (max-width: 320px) {
            width: 40%;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 40%;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            width: 40%;
        }
    } 

    .nav-header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 55%;

        a {
            text-decoration: none;
            color: #ffff;
        }

        @media (max-width: 320px) {
            a {
                font-size: .8rem;
            }
        }

        @media (min-width: 321px) and (max-width: 440px) {
            a {
                font-size: .9rem;
            }
        }
    }

    .banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60vh;
        width: 57%;

        .box-banner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
        }

        @media (max-width: 320px) {
            width: 100%;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 100%;
            height: 90vh;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            width: 100%;
            height: 40vh;
        }
    }

    @media (max-width: 320px) {
        background-image: none;
        height: 90vh;
    }

    @media (min-width: 321px) and (max-width: 440px) {
        background-image: none;  
    }

    @media (min-width: 441px) and (max-width: 890px) {
        background-image: none;
        height: 70vh;
    }
}

.box-logo img {
    height: 6vh;

    @media (max-width: 320px) {
        width: 90%;
        height: 4.7vh;
    }

    @media (min-width: 321px) and (max-width: 440px) { 
        width: 75%;
        height: 5vh;
    }

    @media (min-width: 441px) and (max-width: 890px) { 
        width: 75%;
        height: 4.6vh;
    }
}

.banner {
    h2 {
        font-size: 2.3rem;
        width: 35vw;
        background: linear-gradient(90deg,#1173d4 0%, #63cc33 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 320px) {
            font-size: 1.9rem;
            width: 100%;
            padding: 0 1rem;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 100%;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            width: 100%;
        }
    }

    p {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        width: 20vw;
        height: 15vh;

        @media (max-width: 320px) {
            font-size: .9rem;
            width: 100%;
            height: 20vh;
            padding: .7rem;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 100%;
            padding: 0 1em;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            width: 100%;
            padding: 0 1em;
        }
    }

    .box-buttons {
        display: flex;
        justify-content: space-between;
        width: 77%;

        @media (max-width: 320px) {
            justify-content: space-around;
            width: 100%;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            justify-content: space-evenly;
            width: 100%;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            justify-content: space-evenly;
            width: 100%;
        }
    }

    .button-agenda {
        height: 8vh;
        width: 35vh;
        border-radius: 13px;
        border: none;
        color: #fff;
        font-size: .9rem;
        background: linear-gradient(90deg, rgba(17, 115, 212, 0) 100%, #1173D4 0%),
        linear-gradient(0deg, #1173D4, #1173D4);
        cursor: pointer;
        
        @media (max-width: 320px) {
            width: 50%;
            font-size: .8rem;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 50%;
            font-size: .8rem;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            width: 50%;
            font-size: .9rem;
        }

    }

    .button-mais {
        height: 8vh;
        width: 20vh;
        border-radius: 13px;
        border: 1px solid #1173D4;
        color: #1173D4;
        font-size: .9rem;
        cursor: pointer;

        @media (max-width: 320px) {
            width: 30%;
            font-size: .8rem;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            width: 30%;
            font-size: .8rem;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            width: 30%;
            font-size: .8rem;
        }
    }

    @media (max-width: 320px) {
        text-align: center;
    }

    @media (min-width: 321px) and (max-width: 440px) {
        text-align: center;
    }
}