.importancia-exame {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #F8F9FA;
;

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.3rem;
        background: linear-gradient(90deg,#1173d4 0%, #63cc33 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 17vh;

        @media (max-width: 320px) {
            font-size: 1.4rem;
            height: 24vh;
            padding: 1rem;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            font-size: 1.4rem;
            height: 24vh;
            padding: 1rem;
        }
    }

    .description-text {
        width: 70%;
        font-size: 1.1rem;

        @media (max-width: 320px) {
            font-size: 1rem;
            height: 34vh;
            width: 90%;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            font-size: 1rem;
            height: 28vh;
            width: 90%;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            width: 90%;
            height: 10vh;
        }
    }

    .box-cards-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50vh;

        @media (max-width: 320px) {
            flex-direction: column;
            height: 130vh;
        }

        @media (min-width: 321px) and (max-width: 440px) {
            flex-direction: column;
            height: 130vh;
        }

        @media (min-width: 441px) and (max-width: 890px) {
            flex-wrap: wrap;
            height: 65vh;
        }

        .cards-1 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 26%;
            height: 35vh;
            box-shadow: 0px 0px 10px 0px #00000040;
            border-radius: 10px;

            img {
                width: 15%;
                height: 8vh;

                @media (min-width: 321px) and (max-width: 440px) {
                    height: 6vh;
                }

                @media (min-width: 441px) and (max-width: 890px) {
                    width: 20%;
                    height: 7vh;
                }
            }

            @media (max-width: 320px) {
                width: 85%;
            }

            @media (min-width: 321px) and (max-width: 440px) {
                width: 75%;
                height: 40vh;
                font-size: .9rem;
                padding: .4rem;
            }

            @media (min-width: 441px) and (max-width: 890px) {
                width: 44%;
                height: 29vh;
            }
        }
    }
}

